<% @title=@user.first_name + ' ' + @user.last_name %>

<div class="container text-center">
	<div class="space"></div>
	<div class="col-sm-8 col-sm-offset-2 card">
		<% if user_signed_in? %>
			<% if current_user.id == @user.id %>
				<a href="/users/change_picture"><div class="change-picture">Change picture</div></a>
			<% end %>
		<% end %>	
		<div><%= image_tag(@gravatar_url, class: 'avatar') %></div>
		<div class="name-text"><%= @user.first_name %> <%= @user.last_name %></div>
		<div class="desc">
			<% if @user.major != nil && @user.school_year != nil %>
				<%= @user.school_year + ", " + @user.major %>
			<% else %>
				<%= @user.school_year %> <%= @user.major %>
			<% end %>	
		</div>
		<div> <b>About me:</b> <%= @user.about %></div>
		<% if @user.involvements != nil %>
			<div> <b>Campus Involvements:</b> <%= @user.involvements %></div>
		<% end %>	
		<% if @found_links != nil %>
			<% @found_links.each do |link| %>
				<div class="link-text"> <%= link_to(link, link, target: :_blank) %></div>	
			<% end %>
		<% end %>
		<% if user_signed_in? %>
			<% if current_user.id == @user.id %>
				<div class="divider"></div>
				<div class="link-text"><%= link_to('Edit profile', 'users/edit_profile') %></div>
			<% end %>
		<% end %>
	</div>
</div>