<div class="about" id="about">
	<div class="container">
		<% if mobile? %>
			<%= render 'rocket-mobile' %>
			<%= render 'head-mobile' %>
		<% else %>
			<%= render 'rocket-web' %>
			<%= render 'head-web' %>
		<% end %>	
		
		<div class="row flex-override grey">
			<div class="col-xs-2 col-sm-2 valign-center">
				<h1 class="themes">
					Themes.
				</h1>
			</div>	
			<div class="col-xs-10">
				<div class="row align-items-center flex-override skinny">
					<div class="col-xs-2 col-sm-1 number">
						1
					</div>
					<div class="col-xs-10 col-sm-8">
						<h3> Student Government + Administration </h3>
						<p> (such as the communication between ASUC and student orgs) </p>
					</div>
				</div>
				<div class="row align-items-center flex-override skinny">
					<div class="col-xs-2 col-sm-1 col-sm-offset-3 number">
						2
					</div>
					<div class="col-xs-10 col-sm-8">
						<h3> Housing + Living Spaces </h3> 
						<p> (such as simple legal action available for students if housing situation gets out of hand) </p>
					</div>
				</div>
				<div class="row align-items-center flex-override skinny">
					<div class="col-xs-2 col-sm-1 number">
						3
					</div>
					<div class="col-xs-10 col-sm-8">
						<h3> Academics </h3>
						<p> (such as academic advising and academic resources) </p>
					</div>
				</div>
				<div class="row align-items-center flex-override skinny">
					<div class="col-xs-2 col-sm-1 col-sm-offset-3 number">
						4
					</div>
					<div class="col-xs-10 col-sm-8">
						<h3> Campus Accessibility </h3>
						<p> (such as campus Accessibility and Safety) </p>
					</div>
				</div>
			</div>
		</div>
		<% if mobile? %>
			<%= render 'connect-mobile' %>
		<% else %>
			<%= render 'connect-web' %>
		<% end %>
		<div class="row">
			<div class="col-sm-5">
				<h2> During </h2>
				<h1> The Event. </h1>
				<div class="line-yellow-short"></div>
			</div>	
		</div>
		<div class="row no-margin flex-override">
			<div class="col-xs-3 col-sm-2 valign-center">
				<%= image_tag "brace.svg", class: "graphic" %>
			</div>
			<div class="col-xs-9 col-sm-8 valign-center">
				<div class="row skinny2">
					<div class="col-xs-12">
						<p><em>To kickoff the event,</em> a special alumni will be giving a keynote presentation.</p>
					</div>
				</div>
				<div class="row skinny2">
					<div class="col-xs-12">
						<p><em>The remainder of the designathon/hackathon</em> is for innovators to produce a blueprint of a solution that they can correctly present to the panel near the end of the event.</p>
					</div>
				</div>
				<div class="row skinny2">
					<div class="col-xs-12">
						<p><em>By the end of it,</em> teams will be able to present to a panel of faculty, alumni, and administration staff to see which teams would then be funded/hired by the university.</p>
					</div>	
				</div>
			</div>
		</div>
		<%= render 'team-section' %>
	</div>
</div>