<div class="main">
	<div class="container">
		<div class="logo-wrapper">
			<%= image_tag "text-grey.svg", class: "logo-text" %>
		</div>
		<div class="main-text">
			<mark>October 20 – 22</mark><br>
			<mark>San Francisco</mark>
		</div>
		<div class="apply-button">
			<a href="/users/sign_up">APPLY</a>
		</div>
	</div>
</div>

<%= render 'about' %>
<% if mobile? %>
	<%= render 'schedule-mobile' %>
<% else %>
	<%= render 'schedule' %>
<% end %>	
<%= render 'faq' %>
<%= render 'sponsors' %>
