<div class="faq" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>FAQ.</h1>
			</div>
			<div class="col-xs-12 faq-wrapper">
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-1"><mark>When does Innovate Berkeley 2018 begin?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-2"><mark>Where and when will the summit itself be held?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-3"><mark>What is the weekend series?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-4"><mark>What if I don't have any coding/technical experience?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-5"><mark>Is there a preference for admitting some majors over others?</mark></a>
					</div>
				</div>
				<div class="row skinny">
					<div class="col-xs-1 col-xs-offset-1">
						<%= image_tag "bullet.svg", class: "bullet" %>
					</div>
					<div class="col-xs-10 text">
						<a href="#faq-6"><mark>Where can we go if we have more questions?</mark></a>
					</div>
				</div>
			</div>
		</div>
		<div class="target-div" id="faq-1"></div>
		<div class="row skinny">
			<div class="col-sm-6 col-xs-12 question-title">
				When does Innovate Berkeley 2018 begin?
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>The application cycle for the summit opens on September 20th, 2018, and will close a week from then. Teams and individuals should expect to hear back soon after the application closes. Our three weekend series events for our selected participants will then be held on September 29th, October 13th, and October 20th, respectively. Innovate Berkeley 2018 will conclude with the innovation/design hackathon beginning on Friday, October 26th and ending the next day on Saturday, October 27th.</p>
			</div>
		</div>
		<div class="target-div" id="faq-2"></div>
		<div class="row skinny">	
			<div class="col-sm-6 col-xs-12 question-title">
				Where and when will the summit itself be held?			
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>This year, we're proud to announce that the Innovate Berkeley Summit will be held at the VISA Headquarters in Foster City, CA from October 26th, 2018 to October 27th, 2018. This is an amazing opportunity for our participants to explore the offices of a leader in global payments technology, and also have the opportunity to potentially meet and speak with VISA employees. As a clarification, the three weekend series events leading up to the hackathon will be held across campus, with more information coming soon.</p>
			</div>
		</div>
		<div class="target-div" id="faq-3"></div>
		<div class="row skinny">	
			<div class="col-sm-6 col-xs-12 question-title">
				What is the weekend series?			
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>The weekend series is a unique opportunity like no other for our participants to be guided through a design sprint process, interface and connect with mentors within the IB Core Team, schedule meetings with and hear the perspectives of different faculty on campus, refine their goals and ideas in preparation for the hackathon, and gain familiarity with essential design, prototyping, and pitching essentials. Our guided events assume no prior experience with these areas, and seek to empower students of any background to particpate and succeed both at the hackathon and beyond.</p>
			</div>
		</div>
		<div class="target-div" id="faq-4"></div>
		<div class="row skinny">	
			<div class="col-sm-6 col-xs-12 question-title">
				What if I don't have any coding/technical experience?				
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>Technical experience is not necessary to get the most out of Innovate Berkeley. At the end of the summit, out of the three top teams that placed last year, none of them coded/built a technical solution such as a mobile app or website to present to the panel of judges. Instead, they used tools such as <a href="https://www.figma.com">Figma</a> to create mockups for the judges. Furthermore, this is why we host the weekend series: to familiarize participants with tools such as these and prepare them for the summit. As a note, Innovate Berkeley is branded foremost as a <b>design</b> summit/hackathon. We value the quality, creativity, user experience, execution, and actual contribution of the of an idea/solution to our campus above all else.</p>
			</div>
		</div>
		<div class="target-div" id="faq-5"></div>
		<div class="row skinny">	
			<div class="col-sm-6 col-xs-12 question-title">
				Is there a preference for admitting some majors over others?				
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>Not at all! If anything, Innovate Berkeley is seeking diversity in our application pool and we encourage students from all years, backgrounds, and majors to apply. The diversity present on our campus is what makes this institution so special, and we believe a mix ideas and perspectives are what fuel truly groundbreaking products and solutions. We especially want to stress that participants will not be at a disadvantage if they are not Computer Science/Business/STEM majors.</p>
			</div>
		</div>
		<div class="target-div" id="faq-6"></div>
		<div class="row skinny">	
			<div class="col-sm-6 col-xs-12 question-title">
				Where can we go if we have more questions?				
				<div class="faq-line line-yellow"></div>
			</div>
		</div>
		<div class="row skinny">
			<div class="col-xs-12">
			<p>Feel free to email any of the core team members on the <a href="/team">team</a> page! We'd love to answer any and all questions about the weekend series and summit, questions about the application process, our those about our personal experiences as Innovate Berkeley particpants!</p>
			</div>
		</div>
	</div>
</div>

<div class="space"></div>
