<% @title="Meet the Team" %>
<div class="participants">
	<div class="container text-center">
		<div class="page-top-space"></div>
		<div class="title-text">Team Members</div>

		<div class="team">
			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "namrata.png", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Namrata Subramanian</b>
							</h3>
							<h4>President | namrata.s@berkeley.edu</h4>
							<p>Hey innovators! My name is Namrata and I am a 2nd year majoring in Public Health and Economics, and minoring in Math and Science Education. I have lived in the Bay Area all my life and I call both Cupertino and Cal my home. I love to learn new dance styles, go on long-distance runs, hit the gym, and eat a variety of different foods. My favorite music artists include Migos, Ty Dolla $ign, and Ed Sheeran. I am super excited to see even more of y’all at the Innovation Summit next semester and at our various events throughout the year :) Go bears!!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Alex Lee</b>
							</h3>
							<h4>VP of External Affairs| al.exe@berkeley.edu</h4>
							<p>Hello friends! I’m a CS intended first year that’s also looking into the Data Science major that will be rolling out soon. The Bay Area is my home, and I’m extremely glad that I’m here for another 4 years. I like writing haikus about life in college and skating around on my electric board. Like many of us here in the Bay, I have a boba problem and can spend upwards of $120 a month if I’m not careful (joking, kinda). This will be my second iteration of IB and I already know that this time turn out even better than the last.</p>
							</div>
						<td>
						<td>
							<%= image_tag "alex.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "evan.png", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Evan Corriere</b>
							</h3>
							<h4>VP of Internal Affairs | evancorriere@berkeley.edu</h4>
							<p>Hey! My name is Evan Corriere, a Computer Science major from Southern California. I quickly found an amazing community here in Innovate Berkeley and have really enjoyed having the ability to help innovators! As leader of the Internal Team, I work on connecting Berkeley Students to speakers, managing our Core Team, and planning for the next Innovation Summit. Outside of Innovate Berkeley, I skateboard through campus and go to the gym in order to justify my ice cream addiction. </p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Arvind Sridhar</b>
							</h3>
							<h4>VP of Recruitment | arvindsridhar@berkeley.edu</h4>
							<p>What's up guys! I'm a freshman here at UC Berkeley studying Electrical Engineering & Computer Science along with Business Administration. I'm fascinated by the potential of harnessing new technologies such as machine learning and cloud computing to solve problems and improve society. I love playing basketball and watching the NBA, and enjoy traveling to new places. I'm looking forward to meeting you all at our fall 2018 innovation summit!</p>
							</div>
						<td>
						<td>
							<%= image_tag "arvind2.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "omkarwaingankar.jpg", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Omkar Waingankar</b>
							</h3>
							<h4>Secretary/Treasurer | omkar.waingankar@berkeley.edu</h4>
							<p>Hi everyone! I'm a first year EECS/BioE major from Atlanta, Georgia. I love anything and everything tennis, I'm a huge Marvel fan, and Sherlock is the greatest show ever don't @ me. My favorite artists are Migos, Future, and Rae Sremmurd. Currently, I run a charitable organization back home, Packs4Peers, that delivers backpacks filled with school supplies to underprivileged kids in Atlanta. After participating in IB 2017, I'm excited to be part of the core team for next year!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Divya Nekkanti</b>
							</h3>
							<h4>Lead | divyanekkanti@berkeley.edu</h4>
							<p>Hi everyone! My name is Divya Nekkanti and I am a second year EECS major and GPP minor at Cal. I’m really passionate about human computer interaction, startups, human centered design, and tech for social good! I’m a Director of Design at SkyDeck, Berkeley’s startup accelerator, a Project Manager in Venture Strategy Solutions and Design for America, and an enthusiast of golf, hip hop and all things pink. Last year at IB, my team and I built nourish.ai, a chatbot that uses conversational artificial intelligence to help students navigate the complex food insecurity ecosystem, and I’m so excited to empower more students on campus to productize their ideas and make Berkeley a better place!</p>
							</div>
						<td>
						<td>
							<%= image_tag "divya.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "bernard.png", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Bernard Zhao</b>
							</h3>
							<h4>Lead | bernardzhao@berkeley.edu</h4>
							<p>Freshman, intended CS from the greater Sacramento area. 2017 IB participant, hobbyist hacker, amatuer creative, hip hop fan and clout enthusiast.</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Jack Jones</b>
							</h3>
							<h4>Lead | jcjones@berkeley.edu</h4>
							<p>Hi everyone! My name is Jack Jones and I’m a freshman intending to major in Business and Cognitive Science. I participated in Innovate Berkeley last fall and ended up pursuing the startup (BearCrawl) we developed afterwards! I love going on hikes, grinding on fortnite, and bumping my boys Kyle and Kanye. Looking forward to meeting you all and helping with your projects! :)</p>
							</div>
						<td>
						<td>
							<%= image_tag "jack2.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "aatif3.png", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Aatif Jiwani</b>
							</h3>
							<h4>Lead | aatifjiwani@berkeley.edu</h4>
							<p>Hey! My name is Aatif Jiwani and I am a freshman studying EECS at Cal. Furthermore, I hope to pursue my passion for business and study Business Administration at the Haas School of Business. Currently, I spend my time working for Antigravity Investments as a UI/UX design to build a platform that auto-invests your money based on a custom investing algorithm. Also, I co-founded a startup called BearCrawl with Jack Jones, which was our IB 2017 idea, that is dedicated to facilitating communication between clubs on campus and Berkeley students. I really enjoy skiing, playing or watching baseball, playing split-screen Xbox with my friends and roommates, and going on spontaneous adventures.</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Suraj Ramrakhyani</b>
							</h3>
							<h4>Lead | suraj697@berkeley.edu</h4>
							<p>My name is Suraj and I am a 3rd year undergrad majoring in Molecular/Cell Bio, Economics and Theater and Performance Studies. I am from Tampa Florida, but someday hope to live in the Bay Area, and eventually make it my home. I work in the insurance and finance industry, and spend some of my free time acting and screenplay writing in the Theater department, as well as working as a part-time writer for a theater review company. I am thrilled to be a part of the team, and hope that everyone has a blast at the innovation Summit in the fall!</p>
							</div>
						<td>
						<td>
							<%= image_tag "suraj2.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "john2.png", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>John Wood</b>
							</h3>
							<h4>Lead | john.wood@berkeley.edu</h4>
							<p>Hello! My name is John Wood and I am a freshman studying EECS here at Cal. Outside of classes, I spend my time as the Assistant Risk Manager at Chi Psi fraternity, as an Assistant Director at National High School Model UN, and help out coordinating the student organizations in SCETSA. In my free time, I enjoy long distance running, reading political news articles, and spending time with friends. At IB 2017, I worked on a prototype for a more streamlined group-oriented calendar for Golden Bear Orientation, and I can’t wait to work on the core team this year to help a new round of participants make their ideas into reality.</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Elaine Kim</b>
							</h3>
							<h4>Lead | elaine.jy.kim@berkeley.edu</h4>
							<p>Hey! I’m Elaine, first year EECS, aspiring hacker and designer. I’m from Seoul, basically lived there all my life and I just got here! If you want to spot me around campus, you could probably find me napping on memorial glade or just sitting around the campanile. I also love doing movie marathons and exploring restaurants around campus. If anyone is a GoT or House of Cards fan, chat me up. Super excited to meet you all and hear about your ideas!</p>
							</div>
						<td>
						<td>
							<%= image_tag "elaine.png", class: "member-img" %>
						<td>
					</tr>
			</table>

			
		</div>
	</div>
</div>