<% @title="Meet the Team" %>
<div class="participants">
	<div class="container text-center">
		<div class="page-top-space"></div>
		<div class="title-text">Team Members</div>
		<div class="team">
			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "namrata-ib.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Namrata Subramanian</b>
							</h3>
							<h4>President | namrata.s@berkeley.edu</h4>
							<p>Hey innovators! My name is Namrata and I am a 3rd year majoring in Public Health, and minoring in Math and Science Education and Economics. I have lived in the Bay Area all my life and I call both Cupertino and Cal my home. I love to learn new dance styles, go on long-distance runs, hit the gym, and eat a variety of different foods. My favorite music artists include Migos, Ty Dolla $ign, and Ed Sheeran. I am super excited to see even more of y’all at the Innovation Summit next semester and at our various events throughout the year :) Go bears!!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td>
							<div class="bio2">
							<h3>
								<b>Evan Corriere</b>
							</h3>
							<h4>VP of Internal Affairs | evancorriere@berkeley.edu</h4>
							<p>Hey! My name is Evan Corriere, a Computer Science major from Southern California. I quickly found an amazing community here in Innovate Berkeley and have really enjoyed having the ability to help innovators! As leader of the Internal Team, I work on connecting Berkeley Students to speakers, managing our Core Team, and planning for the next Innovation Summit. Outside of Innovate Berkeley, I skateboard through campus and go to the gym in order to justify my ice cream addiction. </p>
							</div>
						<td>
						<td width="30%">
							<%= image_tag "evan-ib.JPG", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "omkar-ib.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Omkar Waingankar</b>
							</h3>
							<h4>VP of External Affairs | omkar.waingankar@berkeley.edu</h4>
							<p>Hi everyone! I'm a second year EECS/BioE major from Atlanta, Georgia. I love anything and everything tennis, I'm a huge Marvel fan, and Sherlock is the greatest show ever don't @ me. My favorite artists are Migos, Future, and Rae Sremmurd. Currently, I run a charitable organization back home, Packs4Peers, that delivers backpacks filled with school supplies to underprivileged kids in Atlanta. After participating in IB 2017, I'm excited to be part of the core team for next year!</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td>
							<div class="bio2">
							<h3>
								<b>Jared Rosner</b>
							</h3>
							<h4>Secretary | jared.rosner@berkeley.edu</h4>
							<p>Hey! I was born and raised in the suburbs of New York City, and am pursuing a dual degree in Computer Science and Business Administration, along with a minor in Conservation & Resource Studies. I'm involved with several student organizations on campus that provide consulting and software services to local startups. I'm is extremely passionate about creating positive and supportive communities around me and find no greater joy than meeting and understanding interesting, passionate people.</p>
							</div>
						<td>
						<td width="30%">
							<%= image_tag "jared-ib.JPG", class: "member-img" %>
						<td>
					</tr>
			</table>

			<table>
				<div class="member">

					<tr>
						<td width="30%">
							<%= image_tag "bernard-ib.JPG", class: "member-img" %>
						<td>
						<td>
							<div class="bio">
							<h3>
								<b>Bernard Zhao</b>
							</h3>
							<h4>External Lead | bernardzhao@berkeley.edu</h4>
							<p>Sophomore, intended CS from the greater Sacramento area. 2017 IB participant, hobbyist hacker, amatuer creative, hip hop fan and clout enthusiast.</p>
							</div>
						<td>
					</tr>
			</table>

			<table>
					<tr>
						<td width="70%">
							<div class="bio2">
							<h3>
								<b>Arvind Sridhar</b>
							</h3>
							<h4>Director of Recruitment | arvindsridhar@berkeley.edu</h4>
							<p>What's up guys! I'm a sophomore here at UC Berkeley studying Electrical Engineering & Computer Science along with Business Administration. I'm fascinated by the potential of harnessing new technologies such as machine learning and cloud computing to solve problems and improve society. I love playing basketball and watching the NBA, and enjoy traveling to new places. I'm looking forward to meeting you all at our fall 2018 innovation summit!</p>
							</div>
						<td>
						<td>
							<%= image_tag "arvind-ib.JPG", class: "member-img" %>
						<td>
					</tr>
			</table>

		</div>
	</div>
</div>