<% if user_signed_in? %>
  <% def user_path %>
  	<% '/' + current_user.id.to_s %>
  <% end %>
  <li class="dropdown">
  	<a class="dropdown-toggle" data-toggle="dropdown">Member's Menu</a>
  	<ul class="dropdown-menu">
  		<li><%= link_to('View Participants', '/participants') %></li>
  		<li><%= link_to('View Profile', user_path) %></li>
  		<li><%= link_to('Edit Account', edit_user_registration_path) %></li>
  		<li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
  	</ul>       
  </li>
<% else %>
  <li>
  <%= link_to('Log In', new_user_session_path) %>  
  </li>
<% end %>