<!DOCTYPE html>
<html>
	<head>
      <% if @title == nil %>
        <title>Innovate Berkeley</title>
      <% else %>
        <title>Innovate Berkeley | <%= @title %></title>
      <% end %>
    	<%= csrf_meta_tags %>

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
				</button>
    			<%= link_to("innovate berkeley", "/", class: "navbar-brand") %>
    		</div>
    		<%= content_tag :div, class: "navbar-collapse collapse", id: "myNavbar" do %>
    			<%= content_tag :ul, class: "nav navbar-nav navbar-right" do %>
    				<%= render 'users/menu/link_items' %>
    				<%= render 'users/menu/login_items' %>
    			<% end %>
    		<% end %>
  		</div>
  	</nav>
  	<%= yield %>


	<script type="text/javascript">
		var s = skrollr.init();
		skrollr.menu.init(s, {
			duration: function(currentTop, targetTop) {
				return 300; //Duration of scrolling animation, in ms
			}
		});

    $(document).ready(function(){
      $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(50).slideDown();
      }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
      });
    })
	</script>

</html>


